process {
	beforeScript = 'module load singularity'
	containerOptions = '-B /data/MSc/2021/gfarrell/'
	executor='slurm'
	queue='MSC'
	clusterOptions = '-n 1'
}

singularity.enabled = true
singularity.autoMounts = true

tower {
      accessToken = 'eyJ0aWQiOiAzNzM5fS4xNTQ5MWI0ZDczZWE5ZTkyOTM1MmZjMDU1YzE1ZjEzZTEyYzM3NzUy'
      enabled = true
}

//process {
  //  withName:antismash {
        //container = 'antismash/standalone'
    //    container = '/data/MSc/2021/gfarrell/thesisreal/containers/antismash.sif'
//                       }
    //withName:bar {
      //  container = 'image_name_2'
//}
