// config file for GFARRELL
//can tag params at CLI "--sample_basename 'ERX...'"
params {
  config_profile_description = 'National University of Ireland, Galway Lugh cluster profile provided by nf-core/configs'
  config_profile_contact = 'Barry Digby'
  config_profile_url = 'https://github.com/nf-core/configs/blob/master/docs/nuig.md'

  /* gavin workflow params */
  sample_basename = 'ERX1365077_T1'
  //input = null //this is going to be your input path to fastq reads.. fromFilePairs(params.input)
  //accession = 'ERR1293758' // wont need this after you rework the start of your script.
}

singularity {
  enabled = true
  autoMounts = true
  cacheDir = '/data/MSc/2021/gfarrell/thesisreal/nextflow/'
}

process {
  beforeScript = """
                    module load EasyBuild/3.4.1
                   module load Java/1.8.0_144
                    module load singularity/3.4.1
                 """
                 .stripIndent()
  containerOptions = '-B /data/'
  executor = 'slurm'
  queue = { task.cpus > 8 ? 'highmem' : task.cpus > 2 ? 'MSC' : 'MSC' }
  /* Lugh scheduler fails if you try to specify memory (#SBATCH --mem) for jobs */
  withName: '.*' { memory = null }
  withLabel:process_high {
    cpus = { check_max( 12 * task.attempt, 'cpus' ) }
    memory = { check_max( 84.GB * task.attempt, 'memory' ) }
    time = { check_max( 16.h * task.attempt, 'time' ) }
}
}

params {
  max_time = '48.h'
  max_memory = '64.GB' // this is ignored anyway with the mem = null above
  max_cpus = 16
}

tower {
      accessToken = 'eyJ0aWQiOiAzNzM5fS4xNTQ5MWI0ZDczZWE5ZTkyOTM1MmZjMDU1YzE1ZjEzZTEyYzM3NzUy'
      enabled = true
}

cleanup = true
